<h2>Parts for <%= @user.username %></h2>
<br />
<% @parts.each do |part| %>
 Name: <%= part.name %><br />
 Manufacturer: <%= part.manufacturer %> <br />
 Serial Number: <%= part.serial_number %><br />
 Quantity: <%= part.quantity %><br />
 <br></br>
<% end %>

<br></br>
<a href="/new">Add a New Part</a>
<br></br>

<a href="/logout">Log Out</a>