<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Parts for <%= @user.username %></h2>
<br />
<% @parts.each do |part| %>
 Name: <a href='/parts/<%= part.id %>'><%= part.name %></a><br />
 Manufacturer: <%= part.manufacturer.name %> <br />
 Serial Number: <%= part.serial_number %><br />
 Quantity: <%= part.quantity %><br />
 <br></br>
<% end %>

<br></br>
<a href="/new">Add a New Part</a>
<br></br>

<a href="/logout">Log Out</a>