<h1>Part: <%= @part.name %></h1>

<p>Serial Number: <%= @part.serial_number %></p>
<p>Manufacturer: <%= @part.manufacturer.name %></p>
<p>Quantity: <%= @part.quantity %></p>

<br></br>
<a href="/parts/<%= @part.id %>/edit">Edit This Part</a>
<br></br>
<a href="/parts/index">Back to Parts List</a>
